body {
	background-color: rgb(0, 0, 0);
}
img {
	border-radius: 50%;
}
#div1 {
	margin-left: 50px;
	margin-top: 50px;
}
#div2 {
	margin-left: 350px;
	margin-top: 200px;
}
#div2 p {
	color: rgb(255, 255, 255);
	font-family: Georgia, Garamond, serif;
	font-style: italic;
	letter-spacing: 0.05em;
	text-decoration: underline;
}
#div2 p span {
	color: rgb(255, 255, 0);
}
